<center><h2><%= book.title %></h2></center>

<div>
  <body>
    <center>
      <img
        id="currentImg"
        onmouseover="largerIm()"
        onmouseout="normalSize()"
        src="<%= book.coverImagePath %>"
        height="350"
        width="300"
      />
    </center>
    <center>
        <b>publisher:</b> <%= book.publisher %>
        <b>publish date:</b> <%= book.publishDate%>
        <b>price:</b> <%= book.price %>
    </center>
  </body>
  <script>
    function largerIm() {
      document.getElementById('currentImg').height = '800';
      document.getElementById('currentImg').width = '800';
    }
    function normalSize() {
      document.getElementById('currentImg').height = '350';
      document.getElementById('currentImg').width = '300';
    }
  </script>

  <form action="/" method="POST">
    <center><button type="submit">Add to cart</button></center>
    <%= book.description %>
    <div><button type="submit">Leave Review</button></div>
  </form>
</div>
