<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 40px;
    margin-left: 15px;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .title {
    margin-left: 15px;
  }

  .center {
    text-align: center;
  }
</style>

<div class="container">
  <hr />
  <h2 class="title mt-5">Wishlist 1</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>

    <% wishes.wishlist1.forEach(wish => { %>
    <tr>
      <td>
        <a href="/books/<%= wish.newWishList[0]._id %>">
          <%= wish.newWishList[0].title %>
        </a>
      </td>
      <td><%= wish.newWishList[0].genre %></td>
      <th>
        <a
          href="/add-to-cart/<%=wish.bookId%>"
          class="btn btn-info"
          role="button"
          >Add to Cart</a
        >
      </th>
      <td class="center">
        <a href="/wishlist/<%= wish._id %>">
          Remove
        </a>
      </td>
    </tr>
    <% }); %>
  </table>

  <hr />

  <h2 class="title mt-5">Wishlist 2</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>

    <% wishes.wishlist2.forEach(wish => { %>
    <tr>
      <td>
        <a href="/books/<%= wish.newWishList[0]._id %>">
          <%= wish.newWishList[0].title %>
        </a>
      </td>
      <td><%= wish.newWishList[0].genre %></td>
      <th>
        <a
          href="/add-to-cart/<%=wish.bookId%>"
          class="btn btn-info"
          role="button"
          >Add to Cart</a
        >
      </th>
      <td class="center">
        <a href="/wishlist/<%= wish._id %>">
          Remove
        </a>
      </td>
    </tr>
    <% }); %>
  </table>

  <hr />

  <h2 class="title mt-5">Wishlist 3</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>

    <% wishes.wishlist3.forEach(wish => { %>
    <tr>
      <td>
        <a href="/books/<%= wish.newWishList[0]._id %>">
          <%= wish.newWishList[0].title %>
        </a>
      </td>
      <td><%= wish.newWishList[0].genre %></td>
      <th>
        <a
          href="/add-to-cart/<%=wish.bookId%>"
          class="btn btn-info"
          role="button"
          >Add to Cart</a
        >
      </th>
      <td class="center">
        <a href="/wishlist/<%= wish._id %>">
          Remove
        </a>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
